<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>INSERT_CODE_HERE</title>
	<link rel="stylesheet" href="/css/bulma.min.css">
	<link rel="stylesheet" href="/css/layout.css">
</head>
<body>
	
	<div id="entire-page">
		
		<header class="is-size-1 has-text-centered">
			<img id="banner" class="image" src="/insert_code_here_banner_2.svg" >
		</header>
		
		<nav class="navbar has-background-light" role="navigation" aria-label="main navigation">
			
			<div class="navbar-brand">
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbar" class="navbar-menu is-active">
				
				<div class="navbar-start">
					<a class="navbar-item" href="/">Home</a>
					<a class="navbar-item" href="/accounts">Accounts</a>
					<a class="navbar-item" href="/challenges/">View Challenges</a>
					{{#if isLoggedIn}}
						<a class="navbar-item" href="/challenges/create">Create Challenge</a>
						<a class="navbar-item" href="/accounts/{{accountUsername}}">Profile</a>
					{{/if}}
				</div>
				
				<div class="navbar-end">
					<div class="navbar-item">
						<div class="buttons">
							{{#if isLoggedIn}}
								<a class="button is-danger" href="/accounts/sign-out">sign out</a>
							{{else}}
								<a class="button is-primary" href="/accounts/sign-up">Sign up</a>
								<a class="button is-dark" href="/accounts/login">Login</a>
							{{/if}}
						</div>
					</div>
				</div>
				
			</div>
		</nav>
		
		<main class="content">{{{body}}}</main> <!-- Added class "content" here in order to utilize Bulma framework -->
		
		<footer>
			<div class="content has-text-centered">
				Copyright © Group 7 2022 |
				<a href="/about">About</a> |
				<a href="/contact">Contact</a>
			</div>
		</footer>
		
	</div>
	
</body>
</html>