<div class="content">
	<h1 class="has-text-centered">About</h1>
	<p >Welcome to INSERT_CODE_HERE the perfect place for programmers of all ages! </p>
	<p >When using INSERT_CODE_HERE, please be civil and use common sense. If you have problems please reference our table below for how to behave when creating comments and challenges</p>

	<ul>
		<li>Be friendly to others</li>
		<li>No cursewords</li>
		<li>No threats</li>
		<li>Be welcoming to beginners</li>
	</ul>

	<p>If you have any qestions regarding your visit to INSERT_CODE_HERE please refer to the <a href="/contact">contact</a> page. Have a great day!</p>
</div>