<div class="content">
	<h2>Sign up</h2>
	<p>Create a new account using the form below.</p>
</div>
<form action="">
	<div class="field">
		<label class="label">Username</label>
		<div class="control has-icons-left has-icons-right">
			<input class="input" type="text" placeholder="Username" value="">
		</div>
		<label class="label">Password</label>
		<div class="control has-icons-left has-icons-right">
			<input class="input" type="password" placeholder="Password" value="">
		</div>
	</div>
</form>