<div class="content">
	<h2>Sign up</h2>
	<p>Create a new account using the form below.</p>
</div>
<form action="/accounts/create" method="post">
	<div class="field">
		<label class="label">Username</label>
		<div class="control has-icons-left has-icons-right">
			<input class="input" type="text" placeholder="Username" value="{{accountInformation.username}}" name="username">
		</div>
		<label class="label">Password</label>
		<div class="control has-icons-left has-icons-right">
			<input class="input" type="password" placeholder="Password" name="password">
		</div>
		<label class="label">Confirm Password</label>
		<div class="control has-icons-left has-icons-right">
			<input class="input" type="password" placeholder="Password" name="password2">
		</div>
		<input type="submit" class="button is-success" value="Sign up">
	</div>
</form>
<ul>
	{{#each errors}}
		<li class="has-text-danger">
			{{this}}
		</li>
	{{/each}}
</ul>