
<div class="section has-text-centered">
    <h1>Thanks for playing!</h1>
    <h3>Score: {{numOfRightAnswers}} / {{totalNumOfAnswers}}</h3>
</div>
<div class="section has-text-centered">
    <a class="button is-success" href="/challenges/">Play another challenge</a>
    <a href="/challenges/{{challengeId}}/comments/create" class="button is-success">Comment</a>
</div>

