<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSERT_CODE_HERE</title>
</head>
<body>
    <h1 class="has-text-centered is-size-1 is-uppercase">Challanges</h1>

    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <td>Pos</td>
                <td>User</td>
                <td>name</td>
                <td>created</td>
                <td>Plays</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Mattias</td>
                <td>Your First Challange</td>
                <td>31/01/22</td>
                <td>2500</td>
                <td>
                    <a href="/viewChallange">
                        <button class="button is-primary" > 
                            Play Challange
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mattias</td>
                <td>Your Second Challange</td>
                <td>31/01/22</td>
                <td>2500</td>
                <td>
                    <a href="/viewChallange">
                        <button class="button is-primary" > 
                            Play Challange
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Mattias</td>
                <td>Your Third Challange</td>
                <td>31/01/22</td>
                <td>2500</td>
                <td>
                    <a href="/viewChallange">
                        <button class="button is-primary" > 
                            Play Challange
                        </button>
                    </a>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>Mattias</td>
                <td>Your Fourth Challange</td>
                <td>31/01/22</td>
                <td>2500</td>
                <td>
                    <a href="/viewChallange">
                        <button class="button is-primary" > 
                            Play Challange
                        </button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>