<div class="section">
    <h3 class="has-text-centered">Do you really want to delete this challenge?</h3>
    <div class="has-text-centered">
        <form action="/challenges/{{challengeId}}/delete" method="post">
            <input type="hidden" value="{{challengeId}}" name="challengeId">
            <input class="button is-danger" type="submit" value="Delete">
        </form>
        <a class="button is-danger" href="/accounts/{{accountUsername}}">Cancel</a>
    </div>
</div>
