<h1>Create comment</h1>

<form action="/challenges/{{challengeId}}/comments/create" method="post">

    <textarea name="commentText" placeholder="Comment Text">{{commentText}}</textarea>

    <div class="control">
        <button class="button is-success" type="submit" value="Create">Create</button>
    </div>

</form>