
<h1>Create comment</h1>

{{#if errors.length}}
    <p>Oh no, something went wrong:</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
{{/if}}

<div class="columns">
    <div class="column is-half">
        <form action="/challenges/{{challengeId}}/comments/create" method="post">
            <textarea name="commentText" placeholder="Comment Text">{{comment.commentText}}</textarea>

            <div class="control">
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <button class="button is-success" type="submit" value="Create">Create</button>
            </div>
        </form>
    </div>
</div>

