<div class="content">
	<h1>Contact</h1>

	<div class="table-container">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tr>
			<td>Joel Andreasson</td>
			<td>anjo19cj@student.ju.se</td>
			<td>+46705694746</td>
		</tr>
		<tr>
			<td>Mattias Spångberg</td>
			<td>MATTIAS EMAIL</td>
			<td>MATTIAS PHONE</td>
		</tr>
	</table>
	</div>

	<p>Need help? Use Google or Stack Overflow :)</p>
	
</div>