<div class="section box">
    <h1 class="is-size-2 has-text-centered">Welcome to <em>INSERT_CODE_HERE</em></h1>
    <p class="has-text-centered" >
        We here at INSERT_CODE_HERE love to code. Other than coding we love to solve puzzles. We took both these passions, combined them, and here we are!
        If you are in the mood to challenge yourself or just want to become better att coding, there is a challenge for you. Enjoy!
    </p>
</div>
<div class="section ">
    <h3 class="has-text-centered">
        Checkout these amazing challenges!
    </h3>
    <div class="columns">
        <div class="column is-one-third card">
            <div class="card_image">
                <figure class="image">
                    <img src="/challenge_image_1.svg" alt="">
                </figure>
            </div>
            <div class="card-content">
                This is test challenge 1
            </div>
        </div>
        <div class="column is-one-third card">
            <div class="card_image">
                <figure class="image">
                    <img src="/challenge_image_2.svg" alt="">
                </figure>
            </div>
            <div class="card-content">
                This is test challenge 2
            </div>
        </div>
        <div class="column is-one-third card">
            <div class="card_image">
                <figure class="image">
                    <img src="/challenge_image_3.svg" alt="">
                </figure>
            </div>
            <div class="card-content">
                This is test challenge 3
            </div>
        </div>
    </div>
</div>


