<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INSERT_CODE_HERE</title>
</head>
<body>
    
    <div class="has-text-centered">
        <figure class="image is-inline-block">
            <img class="is-rounded" src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Love-game-logo-256x256.png"/>
        </figure>
    </div>
    <h1 class="is-size-1 has-text-centered">Name</h1>
    <p class="has-text-centered">
        This is a bio that the user can use to write info about them selves.
    </p>
    <h2 class="is-size-4">Score: <span>255</span></h2>

    <div class="card">
        <div class="card-content">
            <p class="subtitle">
                Mattias
            </p>
            <div class="content">
                <div class="columns">
                    <div class="column">
                        <p>Code challenge number one!</p>                  
                    </div>
                    <div class="column has-text-right">
                        <a href="/viewChallange">
                            <button class="button is-primary" > 
                                Play Challange
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>