<div class="columns">
    <div class="column">
        <form action="/accounts/profileEditBio" method="post">
            <textarea name="bioText" cols="100" rows="20"></textarea>
            <input type="submit" class="button is-success">
        </form>
    </div>
</div>