<div class="columns">
    <div class="column is-half">
        <form action="/accounts/{{account.username}}/updateBio" method="post">
            <textarea class="textarea" name="bioText" >{{account.bio}}</textarea>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <input type="submit" class="button is-success">
        </form>
        <ul>
            {{#each errors}}
                <li>
                    {{this}}
                </li>
            {{/each}}
        </ul>
    </div>
</div>
